<?xml version="1.0" encoding="utf-8"?>
<!--
  Дополнительные сведения о настройке приложения ASP.NET см. на странице
  https://go.microsoft.com/fwlink/?LinkId=169433.
  -->
<configuration>
  <system.web>
    <compilation debug="true" targetFramework="4.8" />
    <httpRuntime targetFramework="4.8" />
  </system.web>
  <system.codedom>
    <compilers>
      <compiler language="c#;cs;csharp" extension=".cs" type="Microsoft.CodeDom.Providers.DotNetCompilerPlatform.CSharpCodeProvider, Microsoft.CodeDom.Providers.DotNetCompilerPlatform, Version=2.0.1.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" warningLevel="4" compilerOptions="/langversion:default /nowarn:1659;1699;1701" />
      <compiler language="vb;vbs;visualbasic;vbscript" extension=".vb" type="Microsoft.CodeDom.Providers.DotNetCompilerPlatform.VBCodeProvider, Microsoft.CodeDom.Providers.DotNetCompilerPlatform, Version=2.0.1.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" warningLevel="4" compilerOptions="/langversion:default /nowarn:41008 /define:_MYTYPE=\&quot;Web\&quot; /optionInfer+" />
    </compilers>
  </system.codedom>
	
	<system.webServer>
		<handlers>
			<add name="Taskhandler1" path="/Handler1/KAV" verb="GET"  type="Lab1.IISHandler1"/>
			<add name="Taskhandler2" path="/Handler2/KAV" verb="POST" type="Lab1.IISHandler2"/>
			<add name="Taskhandler3" path="/Handler3/KAV" verb="PUT"  type="Lab1.IISHandler3"/>
			<add name="Taskhandler4" path="/sum" verb="GET POST" type="Lab1.IISHandler4"/>
			<add name="Taskhandler5" path="/mult1" verb="*" type="Lab1.IISHandler5"/>
			<add name="Taskhandler6" path="/mult2" verb="*" type="Lab1.IISHandler6"/>
		</handlers>
	</system.webServer>
	
</configuration>